.svg{
    &_solis{ height: 32px; width: 105px;}
    &_moon{ height: 18px; width: 18px;}
    &_bitcoin{height: 18px; width: 18px;}
    &_arrow-right{height: 16px; width: 16px;}
    &_tcoin{height: 18px; width: 18px;}
    &_prev{height: 12px; width: 48px;}
    &_next{height: 12px; width: 48px;}
}
